@model Timesheet.Micro.Models.Domain.Model.Employee

@{
    ViewBag.Title = "title";
}

<h2>Opprett ny ansatt</h2>
<div>
    @using (Html.BeginForm("Create"))
    {
        @Html.Partial("_Form",Model);
        
        <input type="submit" class="btn"/>
    }
</div>