@model Timesheet.Micro.Models.Domain.Model.User

@{
    ViewBag.Title = "Endre passord";
}


<div>
    @using (Html.BeginForm("SetPassword", "User"))
    {
        <input type="hidden" name="username" value="@Model.Username"/>
        <div class="form-group">
            <label for="newPassword">Skriv nytt passord for bruker @Model.Username</label>
            <input type="password" name="newPassword" id="newPassword" class="form-control"/>
        </div>
        
        <input type="submit" class="btn"/>
    }
</div>